.image{
    margin-left: 15%;
    position: relative;
}
.eyel{
    top: 170px;
    left: 490px;
    position: absolute;
    width: 90px;
    border: 3px solid black;
    height:160px;
    border-radius: 100%;
    background-color: white;
    overflow: hidden;
}
.pupill{
    top: 40px;
    left: 80px;
    position: absolute;
    width: 10px;
    border: 3px solid black;
    height: 10px;
    border-radius: 100%;
    background-color: rgb(7, 6, 6);
}
.pupilr{
    top: 40px;
    left: 80px;
    position: absolute;
    width: 10px;
    border: 3px solid black;
    height: 10px;
    border-radius: 100%;
    background-color: rgb(7, 6, 6);
}
.eyer{
    top: 175px;
    left: 580px;
    position: absolute;
    width: 90px;
    border: 3px solid black;
    height: 160px;
    border-radius: 100%;
    overflow: hidden;
    background-color: white;
}
